<div class="faq">
    <div class="question">
        <p>რა არის EGT FREESPINS?</p>
        <div class="circle-button"><div></div></div>
    </div>
    <div class="freespin-info">
        <p>EGT Freespins არის ბეთლაივის ახალი ფუნქია სლოტებში. პირველად მსოფლიოშ, მოთამაშეები
            რომლებიც EGT სლოტებში დაატრიელებენ მინიმუმ 20% - ს ბეთლაივისგან მიიღებენ 20
            უფასო დატრიალებას EGT-ს სლოტზე 5 Burning Hot
        </p>
    </div>
    <div class="question">
        <p>როდის იწყება აქცია?</p>
        <div class="circle-button"><div></div></div>
    </div>
    <div class="freespin-info">
        <p>EGT Freespins არის ბეთლაივის ახალი ფუნქია სლოტებში. პირველად მსოფლიოშ, მოთამაშეები
            რომლებიც EGT სლოტებში დაატრიელებენ მინიმუმ 20% - ს ბეთლაივისგან მიიღებენ 20
            უფასო დატრიალებას EGT-ს სლოტზე 5 Burning Hot
        </p>
    </div>
    <div class="question">
        <p>ვის შეუძლია აქციაში მონაწილების მიღეაბ?</p>
        <div class="circle-button"><div></div></div>
    </div>
    <div class="freespin-info">
        <p>EGT Freespins არის ბეთლაივის ახალი ფუნქია სლოტებში. პირველად მსოფლიოშ, მოთამაშეები
            რომლებიც EGT სლოტებში დაატრიელებენ მინიმუმ 20% - ს ბეთლაივისგან მიიღებენ 20
            უფასო დატრიალებას EGT-ს სლოტზე 5 Burning Hot
        </p>
    </div>
    <div class="question">
        <p>რომელი თამაშები მონაწილების აქციაში?</p>
        <div class="circle-button"><div></div></div>
    </div>
    <div class="freespin-info">
        <p>EGT Freespins არის ბეთლაივის ახალი ფუნქია სლოტებში. პირველად მსოფლიოშ, მოთამაშეები
            რომლებიც EGT სლოტებში დაატრიელებენ მინიმუმ 20% - ს ბეთლაივისგან მიიღებენ 20
            უფასო დატრიალებას EGT-ს სლოტზე 5 Burning Hot
        </p>
    </div>
    <div class="question">
        <p>როდის დამერიცხება ფრისპინები?</p>
        <div class="circle-button"><div></div></div>
    </div>
    <div class="freespin-info">
        <p>EGT Freespins არის ბეთლაივის ახალი ფუნქია სლოტებში. პირველად მსოფლიოშ, მოთამაშეები
            რომლებიც EGT სლოტებში დაატრიელებენ მინიმუმ 20% - ს ბეთლაივისგან მიიღებენ 20
            უფასო დატრიალებას EGT-ს სლოტზე 5 Burning Hot
        </p>
    </div>
    <div class="question">
        <p>დამატებითი წესები და პირობები</p>
        <div class="circle-button"><div></div></div>
    </div>
    <div class="freespin-info">
        <p>EGT Freespins არის ბეთლაივის ახალი ფუნქია სლოტებში. პირველად მსოფლიოშ, მოთამაშეები
            რომლებიც EGT სლოტებში დაატრიელებენ მინიმუმ 20% - ს ბეთლაივისგან მიიღებენ 20
            უფასო დატრიალებას EGT-ს სლოტზე 5 Burning Hot
        </p>
    </div>
</div>
