.faq {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.circle-button {
    width: 30px;
    height: 30px;
    background-color: rgb(58, 22, 92);
    border-radius: 100%;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.circle-button div {
    width: 8px;
    height: 8px;
    border: 1px solid white;
    border-top: 5px;
    border-right: 5px;
    transform: rotate(-45deg);
    margin: 8px auto;
}

.question {
    display: flex;
    justify-content: space-between;
    color: white;
    box-sizing: border-box;
    padding: 5px 15px;
    border-radius: 3px;
    background-color:rgba(115 116 131 / 22%);
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    cursor: pointer;

}

.freespin-info {
    max-width: 900px;
    padding: 15px 20px;
    line-height: 1.5;
    background-color: #191f36;
    color: rgba(255, 255, 255, 0.623);
    margin: -15px  auto 8px;
    font-size: 14px;
}