<div class="fixed">
  <div class="header">
    <div class="ball">
        <img src="assets/images/ball.png" alt="ball">
    </div>
    <div>
        <a href="https://www.betlive.com/ka/home">
            <img src="assets/images/betlive_logo.png" alt="betlive_logo">
        </a>
    </div>
    <div>
        <a href="#">
            <img src="assets/images/ka.png" alt="languague-icon">
        </a>
    </div>
    <div class="dollar">
        <img src="assets/images/dollar.png" alt="dollar">
    </div>
</div>
</div>

