<div class="offer">
    <div class="offer-div">
        <div>
            <img src="../../assets/images/lucha_maniacs.png" alt="lucha_maniacs" class="maniacs" >
            <img src="../../assets/images/cristal.png" alt="cristal" class="cristal" >
            <img src="../../assets/images/cristal-2.png" alt="cristal-2" class="cristal-2" >
        </div>
        <div class="offer-info">
            <h2>მიიღე <span>გარანტირებული 10%</span> - იანი ქეშბექი</h2>
            <p>და გაზარდე 1 % ით ყოვედღე!</p>
        </div>
        <div class="spin-everyday">
            <div class="spin-count">
                <h3>ყოვედღე დატრიალებული</h3>
                <p> 250 ₾ </p>
            </div>
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="cashback-percent">
                <h3>+1%</h3>
                <p>ქეშბექი</p>
            </div>
        </div>
    </div>
</div>
<div class="extra-info">
    <div class="notice">
        <div class="circle">i</div>
    </div>
    <div class="extra-offer">
        <p>წარმატებისა თუ წარუმატებლობის მიუხედავად, კალენდარული დღის განმავლობაში მინ.
             250 დატრიალების შემთვევაში მოთამაშეების მზარდი ქეშბექი გაიზრდება 1% ით
        </p>
        <p>წარმატებისა თუ წარუმატებლობის მიუხედავად, კალენდარული დღის განმავლობაში მინ.
            250 დატრიალების შემთვევაში მოთამაშეების მზარდი ქეშბექი გაიზრდება 1% ით
        </p>
    </div>
</div>
