<div class="cashback-box" [style.left]="left">
  <div class="date-box"><h2>14 მაისი</h2></div>
    <div class="relative" >
      <p>14%</p>
      <div>
        <div class="checkbox">
          <div class="green-circle">
              <div class="tick" ></div>
          </div>
          <img src="../../assets/images/delete-icon.png" alt="delete-icon">
      </div>
      </div>
    </div>
    <div class="cashback-money">
        <span>0</span>
        <div class="cashback-status"><div></div></div>
        <span>250 ლ</span>
        <div class="accumulated-money">35</div>
    </div>
</div>
