
.cashback-box {
  position: absolute;
  width: 220px;
  height: 180px;
  background-color: rgba(39, 39, 214, 0.336);
  padding: 0px 8px;
  box-sizing: border-box;
  top: 100px;
}


.date-box {
    position: relative;
    top: -19px;
    text-align: center;
}

.cashback-box h2 {
    width: 100px;
    margin: 0 auto;
    background-color: white;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 20px;
}

.cashback-box p {
    position: relative;
    top: 36%;
    left: 28%;
    text-align: center;
    width: 80px;
    height: 40px;
    background-color: rgb(30 16 58);
    border-radius: 5px;
    color: white;
    font-size: 22px;
    line-height: 1.5;
    padding: 5px 10px;
}

.box {
  position: relative;
}

.cashback-status {
  position: relative;
width: 160px;
height: 12px;
background-color: rgb(46, 22, 90);
border-radius: 10px;
padding: 2px 3px;
box-sizing: border-box;
border: 1px solid rgba(111, 111, 230, 0.747);
}

.cashback-status .filled-area {
  /* width: 100px; */
  height: 6px;
  background-color: rgb(14, 241, 14);
  border-radius: 10px;
}

.cashback-money {
  position: relative;
  box-sizing: border-box;
  margin-top: 40px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.cashback-money span {
font-size: 10px;
}

.accumulated-money {
  position: absolute;
  top: -22px;
  transform: translatex(-50%);
  padding: 0 5px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  color: black
}



.cashback-status .accumulated-money::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 16px;
  bottom: 18px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #e8e8e8;
  z-index: -1;
}

.cashback-box img {
  width: 35px;
  height: 31px;
}

.checkbox {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  left: 66%;
  top: 54%;
}

.green-circle {
  position: relative;
  background-color: white;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: rgb(19, 196, 19);
}

.tick {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 8px;
  height: 11px;
  border-top: 3px solid white;
  border-left: 3px solid white;
  transform: rotate(215deg);

}
.box {
  position: relative;
}

@media (max-width:768px){
  .cashback-box {
    width: 130px;
    height: 140px;
  }
  .date-box h2 {
    font-size:14px;
    width:50px;
    margin: 10px auto;
    padding: 2px 15px;
  }
  .relative p {
    width: 40px;
    font-size: 16px;
    height: 20px;
    padding: 5px 15px;
    left: 22%;
  }
  .cashback-money span {
    font-size: 10px;
  }
  .cashback-status {
    width: 80px
  }
  .acumulated-money {
    font-size: 13px;
    top: -22px;
  }
  .green-circle {
    width: 20px;
    height: 20px;
  }
  .tick {
    top: 5px;
    left: 5px;
    width: 6px;
    height: 6px;
  }
  .checkbox {
    gap:7px;
    left: 62%;
    top: 49%;
  }
  .checkbox img{
    width: 25px;
    height: 22px;
  }
}

