<div class="cashback-box"
  [style.left]="data.position"
  [style.transform]="'scale(' + data.scale + ')'"
  [style.transition]="data.transition ? 'all 0.5s' : 'none'"
  >
  <div class="date-box"><h2>{{data.date}}</h2></div>
    <div class="relative" >
      <p>{{data.percent}}%</p>
      <div>
        <div class="checkbox">
          <div class="green-circle">
              <div class="tick" ></div>
          </div>
          <img src="../../assets/images/delete-icon.png" alt="delete-icon">
      </div>
      </div>
    </div>
    <div class="cashback-money">
        <span>0</span>
        <div class="cashback-status">
          <div class="filled-area" [style]="{width: data.points/250 * 100 + '%'}"></div>
          <div class="accumulated-money" [style]="{left: data.points/250 * 100 + '%'}">{{data.points}}</div>
        </div>
        <span>250 ლ</span>
    </div>
</div>
