<div class="cachback-add">
    <div>
        <img src="../../assets/images/cashback.png" alt="cahsback">
    </div>
</div>
<div class="gray-back">
    <div class="offers">
        <div class="left-after">
            <img src="../../assets/images/slots-machine.png" alt="slots-machine">
            <span>დაატრიალე ნებისმიერი სლოტი</span>
        </div>
        <div>
            <img src="../../assets/images/Polygon.png" alt="Polygon">
            <span>დაიბრუნე შენი ქეშბექი 40% მდე</span>
        </div>
        <div class="right-after">
            <img src="../../assets/images/coin-stack.png" alt="coin-stack">
            <span>დაიბრუნე თანხა ყოველდღე</span>
        </div>
    </div>
</div>

