@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli-bold/css/bpg-nino-mtavruli-bold.min.css");

body {
    background-image: url('assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}