/* .cashback-section {
    display: flex;
    justify-content: space-around;
} */

.realtive {
  position: relative
}

.cashback-section {
    position: relative;
    height: 400px;
    max-width:900px;
    margin: auto;
}


.clover {
    position: absolute;
    right: -30%;
}

.bell {
    position: absolute;
    left: -50%;
    /* bottom: 0; */
}

.cashback-section>div {
    position: absolute;
}

/* .cashback-section .arrow {
    padding: 20px;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 200px;
    top: 100px;
    z-index: 1;
} */

.left-container {
    height: 400px;
    width: 120px;
    left: 0;
    top: 0;
    background-image: url('../../assets/images/left-slide.png');
    background-repeat: no-repeat;
    background-position: center top;
}

.right-container {
    position: absolute;
    height: 400px;
    width: 120px;
    right: -1%;
    background-image: url('../../assets/images/right-slide.png');
    background-repeat: no-repeat;
    background-position: center top;
}

.moving-area {
    height: 100%;
    left: 20px;
    right: 20px;
    top: 0;
    z-index: 1;
    overflow: hidden;
}


.flex {
    position: absolute;
    top: 70px;
    left:20%;
    display: flex;
    gap: 50px;

}

.right-click {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 4px;
    margin-top: 90px;
    cursor: pointer;
}

.right-arrow {
    width: 20px;
    height: 20px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(52deg);
    margin-top: 12px;
    margin-left: 8px;

}
.left-click {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 4px;
    margin-top: 90px;
    cursor: pointer;
}

.left-arrow {
    width: 20px;
    height: 20px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(220deg);
    margin-top: 12px;
    margin-left: 20px;
}

.ped {
    position: absolute;
    bottom: -70px;
    left: -40px;
}



.green-circle {
    position: relative;
    background-color: white;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background-color: rgb(19, 196, 19);
}

.tick {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 8px;
    height: 11px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    transform: rotate(215deg);

}
.box {
    position: relative;
}

.cashback-status {
  width: 160px;
  height: 12px;
  background-color: rgb(46, 22, 90);
  border-radius: 10px;
  padding: 2px 3px;
  box-sizing: border-box;
  border: 1px solid rgba(111, 111, 230, 0.747);
}

.cashback-status div {
    width: 100px;
    height: 6px;
    background-color: rgb(14, 241, 14);
    border-radius: 10px;
}

.cashback-money {
    position: relative;
    box-sizing: border-box;
    margin-top: 40px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.cashback-money span {
  font-size: 10px;
}

.accumulated-money {
    position: absolute;
    top: -22px;
    right: 75px;
    padding: 0 5px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    color: black
}



.accumulated-money::after {
    content: '';
    position: absolute;
    right: 5px;
    bottom: 1px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #e8e8e8;
    transform: rotate(108deg);
    z-index: -1;
}
