<div class="cashback-section">
   <div class="left-container"></div>
   <div class="moving-area">
    <div class="flex">
       
        <div>
            <div class="cashback-box">
                <h2>13 მაისი</h2>
                <p>14%</p>
            </div>
        </div>
        <div class="left-click">
            <div class="left-arrow"></div>
        </div>
        <div>
            <div class="cashback-box">
                <h2>14 მაისი</h2>
                <p>14%</p>
            </div>
        </div>
        <div class="right-click">
            <div class="right-arrow"></div>
        </div>
        <div>
            <div class="cashback-box">
                <h2>15 მაისი</h2>
                <p>14%</p>
            </div>
        </div>
    </div>
   </div>
   <div class="right-container"></div>
</div>

