<div class="cashback-section">
    <!-- <div>
        <img src="../../assets/images/clover.png" alt="clover">
    </div>
    <div>
        <img src="../../assets/images/bell.png" alt="bell">
    </div> -->
   <div class="left-container"></div>
   <div class="moving-area">
    <div class="flex">
       
        <div class="box">
            <div class="cashback-box">
                <h2>13 მაისი</h2>
                <p>14%</p>
            </div>
            <div class="cashback-money">
                <h6>0</h6>
                <div class="cashback-status"><div></div></div>
                <h6>250 ლ</h6>
            </div>
            <div class="accumulated-money">35</div>
        </div>
        <div class="left-click">
            <div class="left-arrow"></div>
        </div>
        <div class="box">
            <div class="cashback-box">
                <h2>14 მაისი</h2>
                <p>14%</p>
                <div class="checkbox">
                    <div class="green-circle">
                        <div class="tick" ></div>
                    </div>
                    <img src="../../assets/images/delete-icon.png" alt="delete-icon">
                </div>
                <div class="accumulated-money">35</div>
                <div class="cashback-money">
                    <h6>0</h6>
                    <div class="cashback-status"><div></div></div>
                    <h6>250 ლ</h6>
                </div>
            </div>
        </div>
        <div class="right-click">
            <div class="right-arrow"></div>
        </div>
        <div class="box">
            <div class="cashback-box">
                <h2>15 მაისი</h2>
                <p>14%</p>
            </div>
        </div>
        <div class="accumulated-money">35</div>
    </div>
   </div>
   <div class="right-container"></div>
   <div class="ped">
       <img src="../../assets/images/ped copy.png" alt="ped">
   </div>
</div>

