/* .cashback-section {
    display: flex;
    justify-content: space-around;
} */

.realtive {
  position: relative
}

.cashback-section {
    position: relative;
    height: 400px;
    max-width:900px;
    margin: auto;
}


.clover {
    position: absolute;
    right: -30%;
}

.bell {
    position: absolute;
    left: -50%;
    /* bottom: 0; */
}

.cashback-section>div {
    position: absolute;
}

/* .cashback-section .arrow {
    padding: 20px;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 200px;
    top: 100px;
    z-index: 1;
} */

.left-container {
    height: 400px;
    width: 120px;
    left: 0;
    top: 0;
    background-image: url('../../assets/images/left-slide.png');
    background-repeat: no-repeat;
    background-position: center top;
}

.right-container {
    position: absolute;
    height: 400px;
    width: 120px;
    right: -1%;
    background-image: url('../../assets/images/side22.png');
    background-repeat: no-repeat;
    background-position: center top;
}

.moving-area {
    height: 100%;
    left: 20px;
    right: 10px;
    top: 0;
    z-index: 1;
    overflow: hidden;
}


/* .flex {
    position: absolute;
    top: 70px;
    left:20%;
    display: flex;
    gap: 50px;

} */

.hidden {
    display: hidden;
}

.right-click {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    right: 25%;
    top: 40%;
}

.right-arrow {
    width: 20px;
    height: 20px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(52deg);
    margin-top: 12px;
    margin-left: 8px;

}
.left-click {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    top: 40%;
    left: 25%;
}

.left-arrow {
    width: 20px;
    height: 20px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(220deg);
    margin-top: 12px;
    margin-left: 20px;
}

.ped {
    position: absolute;
    bottom: -70px;
    left: -40px;
}



