.cashback-section {
    display: flex;
    justify-content: space-around;
}

.cashback-section div {
    position: relative;
}

/* .right-slide img {
    position: absolute;
    top: 10px;
    left: 50px;
}
.left-slide img {
    position: absolute;
} */